* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/back.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat;
}

.menu {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 30px;
    border-radius: 15px;
    background-image: url('../images/poldword.jpeg'); /* Caminho para imagem de background */
    background-size: cover;
    background-position: center;
}

.game-title h1 {
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.start-button-container {
    margin-top: 50px;
}
.player-name-input {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #FF8000; /* Cor laranja típica do Mario */
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.player-name-input:focus {
    border-color: #FFA500; /* Laranja mais claro ao focar */
}


.start-button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #FF8000; /* Laranja típico do Mario */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #FFA500; /* Laranja mais claro ao passar o mouse */
}


.game-container {
    display: none;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.9s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 500px;
    animation: clouds-animation 25s infinite linear;
}

.score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Press Start 2P', cursive; 
    font-size: 24px;
    color: #fff; /* Cor branca */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra no texto */
    padding: 10px 20px;
    background-color: #FF8000; 
    border-radius: 8px;
}


@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -500px;
    }

    to {
        right: 100%;
    }
}